<p id="notice"><%= notice %></p>

<h1>Renters</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rate</th>
      <th>Date start</th>
      <th>Date end</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @renters.each do |renter| %>
      <tr>
        <td><%= renter.title %></td>
        <td><%= renter.rate %></td>
        <td><%= renter.date_start %></td>
        <td><%= renter.date_end %></td>
        <td><%= renter.account %></td>
        <td><%= link_to 'Show', renter %></td>
        <td><%= link_to 'Edit', edit_renter_path(renter) %></td>
        <td><%= link_to 'Destroy', renter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Renter', new_renter_path %>
