<%= page_header do %>
  <h1>Арендаторы</h1>
<% end %>

<%= ransack_search do %>
  <%= search_form_for @q, wrapper: :horizontal_form do |f| %>
    <%= f.input :id_eq %>
    <%= f.input :title_cont %>
    <%= f.input :account_gteq %>
    <%= f.input :account_lteq %>
    <div class="form-group">
      <%= f.submit "Искать", class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Новый арендатор', new_renter_path %>

<div class="table-responsive">
  <table id="ransack-table" class="table m-t-1">
    <thead class="thead-inverse">
      <tr>
        <th>id</th>
        <th>Название</th>
        <th>Договора</th>
        <th>Платежи</th>
        <th>Счёт<br />Долг</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% total_a = 0 %>
      <% total_b = 0 %>
      <% @renters.each do |renter| %>
        <% total_a += renter.account %>
        <% total_b += renter.forecast %>
        <% css_class = case %>
        <% when renter.forecast > 0 %>
          <% 'table-danger' %>
        <% when renter.account > 0 %>
          <% 'table-success' %>
        <% end %>
        <tr class="<%= css_class %>">
          <td><%= renter.id %></td>
          <td><%= link_to renter.to_label, renter %></td>
          <td>
            <%= render 'contracts', renter: renter %>
          </td>
          <td>
            <%= render 'payments', renter: renter %>
          </td>
          <td>
            <%= render 'money', renter: renter %>
          </td>
          <td>
            <%= render 'controls', renter: renter %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot class="thead-inverse">
      <th>
      </th>
      <th>
      </th>
      <th colspan="2">
        <div>Итого на всех счетах:</div>
        <div>Итого общий долг:</div>
      </th>
      <th colspan="2">
        <div><%= currency total_a %></div>
        <div><%= currency total_b %></div>
      </th>
    </tfoot>
    </tfoot>
  </table>
</div>
