<%= page_header do %>
  <h1>Арендаторы</h1>
<% end %>

<%= ransack_search do %>
  <%= search_form_for @q, wrapper: :horizontal_form do |f| %>
    <%= f.input :id_eq %>
    <%= f.input :title_cont %>
    <%= f.input :account_gteq %>
    <%= f.input :account_lteq %>
    <div class="form-group">
      <%= f.submit "Искать", class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Новый арендатор', new_renter_path(previous_url: request.fullpath) %>

<div class="table-responsive">
  <table id="ransack-table" class="table m-t-1">
    <thead class="thead-inverse">
      <tr>
        <th>id</th>
        <th>Название</th>
        <th>Договора</th>
        <th>Платежи</th>
        <th>Счёт<br />31 день</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @renters.each do |renter| %>
        <tr class="table-<%= success_or_danger(renter) %>">
          <td><%= renter.id %></td>
          <td class="font-weight-bold"><%= link_to renter.to_label, renter_path(renter, previous_url: request.fullpath) %></td>
          <td>
            <%= render 'contracts', renter: renter %>
          </td>
          <td>
            <%= render 'payments', renter: renter %>
          </td>
          <td>
            <%= render 'money', renter: renter %>
          </td>
          <td>
            <%= render 'controls', object: renter %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @renters %>

</div>
