<%= page_header do %>
  <h1>Арендаторы</h1>
<% end %>

<%= search_form_for @q, class: 'form-inline m-b-2' do |f| %>
  <div class="form-group">
    <%= f.search_field :id_eq, class: 'form-control', placeholder: 'id', style: 'width: 3rem' %>
  </div>
  <div class="form-group">
    <%= f.search_field :title_cont, class: 'form-control', placeholder: 'Название содержит', style: 'width: 12rem' %>
  </div>
  <div class="form-group">
    <%= f.search_field :account_gteq, class: 'form-control', placeholder: 'Счёт от', style: 'width: 6rem' %>
  </div>
  <div class="form-group">
    <%= f.search_field :account_lteq, class: 'form-control', placeholder: 'Счёт до', style: 'width: 6rem' %>
  </div>
  <div class="form-group">
    <%= f.submit "Искать", class: 'btn btn-outline-primary' %>
  </div>
<% end %>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>id</th>
      <th>Название</th>
      <th>Договора</th>
      <th>Счёт</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @renters.each do |renter| %>
      <% css_class = 'table-active' if renter.contracts.where("date_start <= '#{Date.today}' AND date_end >= '#{Date.today}'").any? %>
      <tr class="<%= css_class %>">
        <td><%= renter.id %></td>
        <td><%= link_to renter.to_label, renter %></td>
        <td><%= link_to 'Договора', contracts_path(q: {renter_id_eq: renter.id}) %></td>
        <td><%= renter.account %></td>
        <td>
          <%= link_to edit_renter_path(renter), class: 'e-control-links' do %>
            <%= icon('edit m-r-1') %>Редактировать
          <% end %>
          <br />
          <%= link_to renter, method: :delete, data: { confirm: 'Действительно хотите удалить арендатора?' }, class: 'e-control-links' do %>
            <%= icon('remove m-r-1') %>Удалить
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый арендатор', new_renter_path %>
