<%= page_header do %>
  <h1>Просмотр арендатора <small class="text-warning"><%= @renter.to_label %></small></h1>
<% end %>

<div class="m-b-1">
  <strong>Договора:</strong><br />
  <%= render 'contracts', renter: @renter %>
</div>

<div class="m-b-1">
  <strong>Платежи:</strong><br />
  <%= render 'payments', renter: @renter %>
</div>

<div class="m-b-1">
  <strong>Счёт, 31 день:</strong><br />
  <%= render 'money', renter: @renter, css_class: 'success' %>
</div>

<p>
  <%= link_to 'Новый договор для этого арендатора', new_contract_path(contract: {renter_id: @renter.id}, previous_url: request.fullpath), class: 'btn btn-outline-primary' %>
  <%= link_to 'Внести средства на счёт', new_transaction_path(transaction: {renter_id: @renter.id}, previous_url: request.fullpath), class: 'btn btn-outline-primary' %>
</p>

<%= render 'show_controls', object: @renter %>
