<%= page_header do %>
  <h1>Просмотр арендатора <%= @renter.to_label %></h1>
<% end %>

<p>
  <strong>Счёт:</strong>
  <%= @renter.account %>
</p>
<p>
  <strong>Договора:</strong>
  <%= link_to 'Договора', contracts_path(q: {renter_id_eq: @renter.id}) %>
</p>

<%= link_to 'Edit', edit_renter_path(@renter) %> |
<%= link_to 'Back', renters_path %>
