<%= page_header do %>
  <h1>Договора</h1>
<% end %>

<%= ransack_search do %>
  <%= search_form_for @q, wrapper: :horizontal_form, wrapper_mappings: {
    date: :horizontal_multi_select,
    time: :horizontal_multi_select
  } do |f| %>
    <%= f.input :id_eq %>
    <%= f.input :title_cont %>
    <%= f.input :renter_id_eq, collection: Renter.all, include_blank: true, input_html: {class: 'custom-select'} %>
    <%= f.input :area_id_eq, collection: Area.all, include_blank: true, input_html: {class: 'custom-select'} %>
    <%= f.input :rate_gteq %>
    <%= f.input :rate_lteq %>
    <%= f.input :date_start_gteq, as: :date, include_blank: true %>
    <%= f.input :date_start_lteq, as: :date, include_blank: true %>
    <%= f.input :date_end_gteq, as: :date, include_blank: true %>
    <%= f.input :date_end_lteq, as: :date, include_blank: true %>
    <%= f.submit "Искать", class: 'btn btn-outline-primary' %>
  <% end %>
<% end %>

<%= link_to 'Новый договор', new_contract_path(previous_url: request.fullpath) %>

<div class="table-responsive">
  <table id="ransack-table" class="table m-t-1">
    <thead class="thead-inverse">
      <tr>
        <th>id</th>
        <th>Название</th>
        <th>Арендатор</th>
        <th>Площадь</th>
        <th>Договор</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @contracts.each do |contract| %>
        <% css_class = 'table-active' if contract.date_end >= Date.today %>
        <tr class="<%= css_class %>">
          <td><%= contract.id %></td>
          <td class="font-weight-bold"><%= link_to contract.title, contract_path(contract, previous_url: request.fullpath) %></td>
          <td><%= link_to contract.renter.to_label, renter_path(contract.renter) %></td>
          <td>
            <%= render 'area', area: contract.area %>
          </td>
          <td>
            <%= render 'agreement', contract: contract %>
            <%= render 'payments', contract: contract %>
          </td>
          <td>
            <%= render 'controls', object: contract %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
