<%= page_header do %>
  <h1>Просмотр договора <small class="text-warning"><%= @contract.to_label %></small></h1>
<% end %>

<div class="m-y-2">
  <%== @contract.area.spotted_map.read.force_encoding("utf-8") %><br />
  <span class="text-muted text-sm"><%= @contract.area.square %> м<sup>2</sup> - <%= @contract.area.ref %></span>
</div>

<div class="m-b-1">
  <strong>Арендатор:</strong><br />
  <%= link_to @contract.renter.to_label, renter_path(@contract.renter) %>
</div>

<div class="m-b-1">
  <strong>Торговая площадь:</strong><br />
  <%= link_to @contract.area.to_label, area_path(@contract.area) %>
</div>

<div class="m-b-1">
  <strong>Договор:</strong><br />
  <%= render 'agreement', contract: @contract %>
  <%= render 'payments', contract: @contract %>
</div>

<%= render 'show_controls', object: @contract %>
