<div class="row">
  <div class="col-md-8">
    <%= simple_form_for(@map, wrapper: :horizontal_form, wrapper_mappings: {
      file: :horizontal_file_input
    }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :map %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn-primary m-y-2' %>
      </div>
    <% end %>
  </div>
</div>
