<%= page_header do %>
  <h1>Территории</h1>
<% end %>

<%= link_to 'Новая территория', new_map_path(previous_url: request.fullpath) %>

<div class="table-responsive">
  <table id="ransack-table" class="table m-t-1">
    <thead class="thead-inverse">
      <tr>
        <th>id</th>
        <th>Название</th>
        <th>Торговые площади</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @maps.each do |map| %>
        <% css_class = 'table-active' if map.areas.any? %>
        <tr class="<%= css_class %>">
          <td><%= map.id %></td>
          <td class="font-weight-bold">
            <div class="text-xs-center e-map p-a-1">
              <%= link_to map do %>
                <p style="margin-bottom: .5rem"><%= map.to_label %></p>
                <%= image_tag map.dashboard_map, style: 'width: 200px' %><% end %>
            </div>
          </td>
          <td>
            <%= render 'areas', map: map %>
          </td>
          <td>
            <%= render 'controls', object: map %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @maps %>

</div>
