<%= page_header do %>
  <h1>Территории</h1>
<% end %>

<%= link_to 'Новая территория', new_map_path %>

<div class="table-responsive">
  <table id="ransack-table" class="table m-t-1">
    <thead class="thead-inverse">
      <tr>
        <th>id</th>
        <th>Название</th>
        <th>Торговые площади</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @maps.each do |map| %>
        <% css_class = 'table-active' if map.areas.any? %>
        <tr class="<%= css_class %>">
          <td><%= map.id %></td>
          <td>
            <%= link_to map do %>
              <%= map.to_label %><br />
              <%= image_tag map.dashboard_map, style: 'width: 200px' %><% end %>
          </td>
          <td>
            <%= render 'areas', map: map %>
          </td>
          <td>
            <%= render 'controls', map: map %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
