<%= page_header do %>
  <h1><%= @map.to_label %></h1>
<% end %>

<div class="b-svg-map">
  <%== @map.dashboard_map.read.force_encoding("utf-8") %>
</div>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
