<%= page_header do %>
  <h1>Просмотр территории <small class="text-warning"><%= @map.to_label %></small></h1>
<% end %>

<div class="b-svg-map m-y-2" data-map-id='<%= @map.id %>'>
  <%== @map.dashboard_map.read.force_encoding("utf-8") %>
</div>

<div class="m-b-1">
  <strong>Торговые площади:</strong><br />
  <%= render 'areas', map: @map %>
</div>

<%= render 'meta_date', object: @map %>

<%= render 'show_controls', object: @map %>
