<%= simple_form_for(@area) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :map %>
    <%= f.input :ref %>
    <%= f.input :title %>
    <%= f.input :square %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary m-y-2' %>
  </div>
<% end %>
