<%= page_header do %>
  <h1>Торговые площади</h1>
<% end %>

<%= ransack_search do %>
  <%= search_form_for @q, wrapper: :horizontal_form do |f| %>
    <%= f.input :id_eq %>
    <%= f.input :title_cont %>
    <%= f.input :map_id_eq, collection: Map.all, include_blank: true, input_html: {class: 'custom-select'} %>
    <%= f.input :square_gteq  %>
    <%= f.input :square_lteq %>
    <%# debugger; f.label(:ref_eq) %>
    <%= f.input :ref_eq %>
    <div class="form-group">
      <%= f.submit "Искать", class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Новая торговая площадь', new_area_path(previous_url: request.fullpath) %>

<div class="table-responsive">
  <table id="ransack-table" class="table m-t-1">
    <thead class="thead-inverse">
      <tr>
        <th>id</th>
        <th>Название</th>
        <th>Территория</th>
        <th>Договора</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @areas.each do |area| %>
        <% css_class = 'table-active' if area.contracts.date_end_in_future.any? %>
        <tr class="<%= css_class %>">
          <td><%= area.id %></td>
          <td class="font-weight-bold">
            <%= render 'area', area: area %>
          </td>
          <td>
            <%= render 'map', area: area %>
          </td>
          <td>
            <%= render 'contracts', area: area %>
          </td>
          <td>
            <%= render 'controls', object: area %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
