<%= page_header do %>
  <h1>Просмотр торговой площади <small class="text-warning"><%= @area.title %></small></h1>
<% end %>

<div class="m-y-2">
  <%== p @area.spotted_map.read.force_encoding("utf-8") %><br />
  <span class="text-muted text-sm"><%= @area.square %> м<sup>2</sup> - <%= @area.ref %></span>
</div>

<div class="m-b-1">
  <strong>Территория:</strong><br />
  <%= render 'map', area: @area %>
</div>

<div class="m-b-1">
  <strong>Договора:</strong><br />
  <%= render 'contracts', area: @area %>
</div>

<p>
  <%= link_to 'Новый договор для этой торговой площади', new_contract_path(contract: {area_id: @area.id}, previous_url: request.fullpath), class: 'btn btn-outline-primary' %>
</p>

<%= render 'meta_date', object: @area %>

<%= render 'show_controls', object: @area %>
