<%= page_header do %>
  <h1>Просмотр торговой площади <%= @area.title %></h1>
<% end %>

<div class="m-y-2">
  <%== p @area.spotted_map.read.force_encoding("utf-8") %>
</div>

<p>
  <strong>Актуальные договора площади:</strong>
  <%= area_actual_contracts(@area) %>
</p>
<p>
  <strong>Все договора площади:</strong>
  <%= link_to 'Договора', contracts_path(q: {area_id_eq: @area.id}) %>
</p>
<p>
  <strong>Территория:</strong>
  <%= link_to @area.map.to_label, map_path(@area.map) %>
</p>
<p>
  <strong>Кв.м.:</strong>
  <%= @area.square %>
</p>
<p>
  <strong>Служ. номер:</strong>
  <%= @area.ref %>
</p>

<p>
  <%= link_to 'Новый договор для этой торговой площади', new_contract_path(contract: {area_id: @area.id}), class: 'btn btn-outline-primary' %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
