<%= page_header do %>
  <h1>Транзакции</h1>
<% end %>

<%= link_to 'Новая транзакция', new_transaction_path %>

<table class="table m-t-1">
  <thead class="thead-inverse">
    <tr>
      <th>id</th>
      <th>Договор</th>
      <th>Арендатор</th>
      <th>Площадь</th>
      <th>Сумма</th>
      <th>Было, Стало</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td>
          <%= transaction.contract_string %><br />
          <%= link_to(transaction.contract.to_label, contract_path(transaction.contract)) if transaction.contract %>
        </td>
        <td>
          <%= transaction.renter_string %><br />
          <%= link_to(transaction.renter.to_label, renter_path(transaction.renter)) if transaction.renter %>
        </td>
        <td>
          <%= transaction.area_string %><br />
          <%= link_to(transaction.area.to_label, area_path(transaction.area)) if transaction.area %>
        </td>
        <td><%= currency transaction.amount %></td>
        <td>
          <%= currency transaction.account_were %><br />
          <%= currency transaction.account %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
