<p>
  <strong>Contract string:</strong>
  <%= @transaction.contract_string %>
</p>

<p>
  <strong>Renter string:</strong>
  <%= @transaction.renter_string %>
</p>

<p>
  <strong>Area string:</strong>
  <%= @transaction.area_string %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @transaction.contract.try(:to_label) %>
</p>

<p>
  <strong>Renter:</strong>
  <%= @transaction.renter.try(:to_label) %>
</p>

<p>
  <strong>Area:</strong>
  <%= @transaction.area.try(:to_label) %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<%= render 'previous_url' %>
