<ul class="nav navbar-nav">
  <% active = params[:controller] == 'maps' ? ' active' : '' %>
  <li class="nav-item<%= active %>">
    <%= link_to 'Территории', maps_path, class: 'nav-link' %>
  </li>
  <% active = params[:controller] == 'areas' ? ' active' : '' %>
  <li class="nav-item<%= active %>">
    <%= link_to 'Торговые площади', areas_path, class: 'nav-link' %>
  </li>
  <% active = params[:controller] == 'renters' ? ' active' : '' %>
  <li class="nav-item<%= active %>">
    <%= link_to 'Арендаторы', renters_path, class: 'nav-link' %>
  </li>
  <% active = params[:controller] == 'contracts' ? ' active' : '' %>
  <li class="nav-item<%= active %>">
    <%= link_to 'Договора', contracts_path, class: 'nav-link' %>
  </li>
  <% active = params[:controller] == 'transactions' ? ' active' : '' %>
  <li class="nav-item<%= active %>">
    <%= link_to 'Транзакции', transactions_path, class: 'nav-link' %>
  </li>
</ul>

