<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Аренда</title>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body class="m-b-1">
    <div class="container">
      <nav class="navbar navbar-dark bg-primary">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header">
          &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <%= link_to "Аренда", root_path, class: "navbar-brand" %>
          <%= render 'navbar_nav' %>
          <!--
          <form class="form-inline pull-xs-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-success-outline" type="submit">Search</button>
          </form>
          -->
        </div>
      </nav> <!-- /navbar -->

      <div class="alert alert-success" role="alert"><%= notice %></div>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
      <div class="alert alert-danger" role="alert"><%= Rails.cache.read('maintenance') %></div>

      <%= yield %>

    </div> <!-- /container -->
  </body>
</html>
